.housing{
    margin-top: 20px;
}

.housing-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.housing-content-info h2{
    font-size: 36px;
    font-weight: 500;
}

.housing-content-info p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.housing-content-info-tags{
    margin: 20px 0;
}

.housing-content-info-tags span{
    background: #FF6060;
    color: white;
    border-radius: 10px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    padding: 5px 25px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}


.housing-description-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 20px;
}

.housing-description-wrapper .about-card{
    width: 100%;
    margin: 0;
}

.housing-description-wrapper .about-card header{
    padding: 10px 20px;
    vertical-align: middle;
}

.housing-description-wrapper .about-card header > h2{
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 3px;
}

.housing-description-wrapper .about-card header > i{
    font-size: 28px;
    text-transform: capitalize;
    padding: 0;
}

.housing-description-wrapper .about-card p{
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 25px;
}

.housing-content-host-info{
    display: flex;
    justify-content: space-between;
}

.housing-content-host-info p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: right;
}

.housing-content-host-info-picture{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: 5px 0 15px 10px;
}

.housing-content-host-info-picture > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.housing .grey-star{
    color: lightgrey;
}

.housing-content-host-rating i{
    padding: 0;
    -webkit-text-stroke: none;
    font-size: 30px;
}


@media screen and (max-width: 976px) {
    .housing-content-host-rating i {
        font-size: 27px;
    }
}

@media screen and (max-width: 750px) {
    .housing-description-wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 5px;
      }

      .housing-content{
          display: initial;
      }

      .housing-content-host{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
      }

      .housing-content-host-info {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: fit-content;
      }

      .housing-content-host-info p{
        margin: 0;
        line-height: normal;
        font-size: 12px;
        padding-top: 4px;
    }

    .housing-content-host-info-picture{
        width: 32px;
        height: 32px;
        margin: 2px 0 15px 10px;
    }
    
    .housing-content-info{
        margin-top: 15px;
    }

    .housing-content-info h2{
        font-size: 18px;
    }
    
    .housing-content-info p{
        font-size: 14px;
    }

    .housing-content-info-tags{   
        line-break: anywhere;
        margin-bottom: 15px;
    }

    .housing-content-info-tags span{   
        border-radius: 5px;
        height: 18px;
        font-size: 10px;
        display: inline-block;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }

    .housing-content-host-rating{
        margin-top: -8px;
    }

    .housing-content-host-rating i {
        font-size: 22px;
    }

    .housing-description-wrapper .about-card header > h2 {
        font-size: 13px;
        margin-top: 3px;
    }

    .housing-description-wrapper .about-card header > i{
        font-size: 18px;
    }
    
    .housing-description-wrapper .about-card p{
        font-size: 12px;
        padding-bottom: 20px;
        line-height: 17px;
        padding-left: 12px;
    }

    .housing-description-wrapper .about-card header {
        padding: 8px 12px;
    }
     
}