body {
  margin: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  padding: 0 100px;
}

footer{
  background-color: black;
  color: white;
  margin-top: 60px;
  text-align: center;
  padding: 50px 0 15px;
}

footer > img{
  width: 40%;
  max-width: 100px;
}
